.customers { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.customer { 
    background-color: rgb(97, 202, 243);
    border: 2px dotted purple;
    margin: 0.5rem;
    padding: 0.5rem;
}

.customer__header { 
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}

